
.checklist-progress
    padding: 10px
    width: 600px
    max-width: 600px
    
    &-loader
        display: flex;
        justify-content: center
        align-items: center
        min-height: 200px

    &-empty
        height: 150px
        display: flex
        align-items: center
        justify-content: center
        opacity: 0.9
        line-height: 1.3
    
    &-filter-users
        width: 100%
        margin-bottom: 10px

    
    &-icon-wrapper
        position: relative
        width: 25px

    &-icon
        position: absolute
        top: 50%
        transform: translateY(-50%)
        padding-bottom: 3px
        
