@import "../vars.styl";

.action-group
	font-size: 0.8em
	text-decoration: none
	display: inline-block
	background: $$bgDark
	color: $$fgLightest
	padding: 7px 10px
	width: 100%
	cursor: pointer
	margin-bottom: 5px
	.fa-dashboard, .fa-list, .fa-folder-open
		margin-right: 9px

	.fa
	.svg-inline--fa
		margin-right: 13px


.action-group.active
	background: $$menuBgActive


.action-group-spacer
	background: transparent
	display: inline-block

