@require "~@binders/ui-kit/lib/vars.styl";

.move-item-modal
    &-errormessage
        color: colorError
        font-size: 0.9em
        text-align: center
        margin-bottom: 15px
    .modal-body
        height: 50vh
        width: 500px
