
.targetList
    &-list
        overflow-y: auto
        max-height: 35vh
    &-scrollIndicator
        background-color: white
        border-top: 1px solid #E0E0E0
        color: #E0E0E0
        display: flex
        justify-content: center
        align-items: center
        height: 36px
        position: absolute
        bottom: 0
        left: 0
        width: 100%