@require "~@binders/ui-kit/lib/vars.styl"

.video-progress
    --brand100: #fff3bf
    --brand700: #f5b114
    --gray200: #e0e0e0
    --bar-height: 8px

    position: relative
    cursor: pointer
    touch-action: none

    &.is-disabled
        opacity: .5
        pointer-events: none

    &-unselected
        position: absolute
        top: 0
        height: 100%
        background: var(--gray200)
        border-radius: 100vw
        &.left
            left: 0
        &.right
            right: 0
            left: unset
            width: calc(100% - var(--selected-right, 0%))

    &-selected
        position: absolute
        top: 0
        height: 100%
        background: var(--brand100)
        border-radius: 4px

    &-fill
        position: absolute
        top: 0
        bottom: 0
        left: 0
        height: 100%
        background: var(--brand700)
        transition: width 0.1s linear

    &-bar
        height: var(--bar-height)
        background: var(--brand100)
        border-radius: 100vw

    &-bar-playhead
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: 3px
        height: 18px
        background: var(--brand700)
        border-radius: 100vw

    &-bar-trim-handle
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: 18px
        height: 18px
        background: var(--brand700)
        border-radius: 100vw
        box-shadow: 0 1px 2px rgba(0,0,0,.15)
        cursor: ew-resize
        &:focus-visible
            outline: 2px solid #000
            outline-offset: 2px

    &-label
        position: fixed
        transform: translateX(-50%) translateY(calc(-100% - 8px))
        padding: 2px 6px
        font-size: 13px
        line-height: 1.4
        color: black
        background: white
        border-radius: 4px
        white-space: nowrap
        pointer-events: none
        z-index: 6
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &::after
            content: ""
            position: absolute
            top: 100%
            left: 50%
            transform: translateX(-50%)
            border: 5px solid transparent
            border-top-color: white
    &-label.is-active
        z-index: 12

    &-selected,
    &-unselected
        pointer-events: none
