@require "~@binders/ui-kit/lib/vars.styl";

.activity
    display: flex
    flex-direction: row
    column-gap: 15px
    width: 100%
    padding: 15px
    border-radius: 4px
    &:hover
        background-color: backgroundColor
        cursor: pointer
    @media rwd.mobile
        padding: 10px 5px
        &:hover
            background-color: inherit

    &-body
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        font-size: 14px
        line-height: 1.5
        font-weight: 400
        padding-top: 5px
        @media rwd.mobile
            font-size: 13px

        &-message
            display: flex
            flex-direction: column
            row-gap: 5px
            .doc-title
                font-weight: bold
                color: grey900
            &-footer
                font-size: 13px
                color: grey600
                @media rwd.mobile
                    font-size: 10px
        &-link
            display: flex
            column-gap: 7px
            background: none
            border: none
            color: grey60
            font: inherit
            padding: 0 0 0 5px
            min-width: fit-content
            .material-icons
                font-size: 14px !important
                line-height: 1.5 !important
            @media rwd.mobile
                .material-icons
                    font-size: 16px !important
                    line-height: 1 !important
            &--hovered
                color: grey900
                text-decoration: underline
            &-message
                @media rwd.mobile
                    display: none


.activity-icon
    display: flex
    justify-content: center
    align-items: center
    background-color: middleGreyColor
    color: whiteColor
    border-radius: 50%
    height: 28px
    min-width: 28px
    max-width: 28px
    .material-icons
        font-size: 18px !important;
    @media rwd.mobile
        height: 25px
        min-width: 25px
        max-width: 25px
        .material-icons
            font-size: 12px !important;
