{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react-hooks"
    ],
    "rules": {
        "quotes": [2, "double"],
        "indent": [1, 4, {"SwitchCase": 1}],
        "no-console": ["warn"],
        "sort-imports": [
            "warn",
            {
                "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
            }
        ],
        "operator-linebreak": ["error", "after"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "no-eval": "error",
        "no-unused-expressions": ["error", { "enforceForJSX": true }],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn", // or "error"
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "no-nested-ternary": "error",
        "multiline-ternary": ["error", "always-multiline"],
        "no-unneeded-ternary": "error"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "overrides": [
        {
            "files": [ "*.js", "*.jsx"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": "off",
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}
