dist
*.log
node_modules
.idea
.aiignore
.npmrc
.happypack
app-bundle.map
app-bundle.js.map
.DS_Store
.vscode
junit.xml
npm-debug.log*
./docker-compose.override.yml
.env
.env_*
package-lock.json
*.code-workspace
artifacts
.dyte.*
.swp
tsconfig.tsbuildinfo
*.patch

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.js
build-state.yml
install-state.gz
.eslintcache

traces

internal-tools/business-metrics

docker-compose*.yml
