@require "~@binders/ui-kit/lib/vars.styl";

.browse-share-button
    display: flex
    color: grey200
    &:hover
        color: grey700
        cursor: pointer;
    .material-icons
        font-size: 28px
