@require "~@binders/ui-kit/lib/vars.styl";

.recipients-settings
    &-wrapper
        padding-bottom: 30px
        min-height: 350px
        .userInput
            .autocomplete
                &--is-dirty
                    border: 0
    &-title
        font-size: 1.3125rem
        font-weight: 500
        margin-bottom: 15px
        margin-top: 30px
        color: baseColor
        &:first-child
            margin-top: 0px
    &-empty
        display: flex
        justify-content: center
        align-items: center
        height: 60px
        color: rgba(baseColor, 0.5)
        