@require "~@binders/ui-kit/lib/vars.styl";

.search
    &-results
        margin-bottom: 50px
        @media rwd.mobile
            margin: 0 0 50px 0
        &-summary
            margin: 0 auto
            padding: 14px 0
            display: flex
        &-items
            margin: 0 auto
        &-parentCollectionModule
            &-title
                margin:20px 0 10px 0;
                color: darkGrayColor
                font-size: 16px
    &-info
        padding: 48px 24px
        text-align: center
        @media rwd.mobile
            margin:0
