@import "../../vars.styl";

.docviews-stat-header-ranges
    .dropdown
        width: 160px
        background: transparent
        .dropdown-elements
            border: 1px solid borderGrayColor
        .dropdown-field-label
            width: 100%
            justify-content: flex-end
        .dropdown-arrow
            margin-left: 12px;
