@require "~@binders/ui-kit/lib/vars.styl";

dropdownButtonCommon()
    border: none
    background: none
    cursor: pointer
    transition: background-color 150ms ease-in, color 150ms ease-in
    &:hover
        background-color: grey200
        color: grey800

.block-styles-dropdown
    position: relative
    display: flex
    align-items: center

    #menu-button
        dropdownButtonCommon()
        display: flex
        flex-direction: row
        gap: 4px
        align-items: center
        height: textEditorToolbarButtonSize
        padding: 0 8px 0 15px;
        margin: 0
        color: grey600
        border-radius: 16px 2px 2px 16px
        font-weight: 500
        font-family: Rubik
    .dropdown
        position: absolute
        display: flex
        flex-direction: column
        top: 36px
        background: white
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25)
        border-radius: 4px
        padding: 6px 0
        transition: opacity 150ms ease-in, transform 150ms ease-in
        transform-origin: top left
        &__mobile
            top: unset
            bottom: 36px
            transform-origin bottom left
        &__visible
            opacity: 1
            transform: scale(1)
        &__invisible
            opacity: 0
            transform: scale(0.95)
        .dropdown-section
            padding: 6px 16px
            color: grey600
            font-size: 11px
            font-weight: 500
        button
            dropdownButtonCommon()
            justify-content: start
            margin: 0 6px
            padding: 7px 13px;
            height: initial
            white-space: nowrap
            display: flex
            flex-direction: row
            align-items: center
            color: grey900
            gap: 12px
            border-radius: 2px
            svg, .material-icons
                color: grey600
                width: 18px
            .dropdown-button-icon
                width: 18px
                text-align: center
            &:hover
                font-weight: 500
