@require "~@binders/ui-kit/lib/vars.styl";

.text-editor-link-toolbar
    background-color: white
    border: 1px solid grey300
    border-radius: 6px
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1)
    padding: 2px 6px 2px 12px
    display: flex
    align-items: center
    justify-content: space-between
    width: 340px
    &-anchor
        overflow: hidden
        text-overflow: ellipsis
    &-buttons
        display: flex
        gap: 6px
        .button
            color: grey60
            padding: 10px 18px
