@require "~@binders/ui-kit/lib/vars.styl";

.generic-box
    padding-top: 10vh
    padding-bottom: 10vh;

    &-content
        width: 90%
        max-width: 500px
        margin-left: auto
        margin-right: auto
        line-height: 130%

        @media rwd.tabletAndAbove
            background-color: white
            margin-top: 27px
            padding: 35px
            background-color: whiteColor
            border: 1px solid middleGreyColor

    &-footer
        text-align: center
        margin-top: 50px
        font-size: 12px
        line-height: 130%
