@import "../../style/global.styl";
@import "../../vars.styl";

.tooltip
    position: fixed
    padding: 8px
    border-radius: 5px
    background-color: baseColor
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    z-index: 1600
    &--respectLineBreaks
        white-space: pre-line
        text-align: center
    span
        font-family: defaultFontName
        font-size: 11px
        font-weight: 500
        line-height: 1.5
        text-align: center
        color: white
    &-arrowOnBottom
        width 8px
        height 8px
        background-color: baseColor
        transform: rotate(45deg)
        position: absolute
        top: calc(100% - 5px)
        left: 50%