@require "~@binders/ui-kit/lib/vars.styl";

.target-tag
    &-wrapper
        background-color: white
        line-height: 1
        border-radius: 5px
        padding: 8px 16px
        font-size: 14px
        color: baseColor
        margin-right: 10px
        margin-bottom: 8px
        display: flex;
        align-items: center
        line-height: 1.4
        &--grey
            background-color: backgroundColor
    &-icon
        margin-right: 5px
        margin-top: -2px
