@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,400italic,700italic')
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,500,700,400italic,700italic')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=block')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=block')

h1
    font-size: 2em
    font-weight: bold

h2
    font-size: 1.5em
    font-weight: bold

h3
    font-size: 1.2em
    font-weight: bold

h4
    font-size: 1em
    font-weight: bold

.MuiIconButton-root:hover
    background-color: initial !important

.animate-visibility
	&.visible
		opacity: 1
		transition: opacity 250ms ease-in
	&.invisible
		opacity: 0
		transition: opacity 100ms ease-in
