@require "../../vars.styl";

.checklistStatus
    .checklistStatusButton
        border-radius: 25px
        background-color: disabledBackgroundColor
        border: 0
        position: relative
        padding: 16px 60px
        margin-bottom: 16px
        &.visualFocus
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
            animation-delay: 0.3s
            transform: translate3d(0, 0, 0)
            backface-visibility: hidden
            perspective: 1000px
        &:hover
            background-color: colorOkMedium
        .material-icons
            position: absolute
            font-size: 40px
            left: 9px
            top: 2px
    &-performedBy
        font-size: 14px
        color: disabledColor
        label
            display: block
        &--isHistory
            color: disabledBackgroundColor
    &--isPerformed
        .checklistStatus-performedBy:not(.checklistStatus-performedBy--isHistory)
            color: baseColor
        .checklistStatusButton
            background-color: colorOkDark
            &:hover
                background-color: colorOkMedium
    &--isDisabled
        .button.checklistStatusButton
            &:hover
                cursor: not-allowed
                background-color: colorOkDark



@keyframes shake
    10%, 90%
        transform: translate3d(-1px, 0, 0)
    20%, 80%
        transform: translate3d(2px, 0, 0)
    30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
    40%, 60%
        transform: translate3d(4px, 0, 0)