@require "~@binders/ui-kit/lib/vars.styl";

.composer-share-button
    padding: 8px 16px
    font-size: 1.4em
    color: grey600
    .material-icons
        margin-right: 8px
.composer-share-mobileButton
    cursor: pointer
    .material-icons
        font-size: 33px
        position: relative
        top: 2px
