@css {
    .rounded-corners-only {
        --s: 25px;
        /* the size on the corner */
        --t: 2px;
        /* the thickness of the border */
        --g: 0px;
        /* the gap between the border and image */
        --r: 6px;
        /* radius */

        padding: calc(var(--g) + var(--t));
        outline: var(--t) solid #fca242;
        outline-offset: calc(-1*var(--t));
        border-radius: var(--r);
        mask:
            conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
            linear-gradient(#000 0 0) content-box;
        transition: .4s;
    }
}