
.modalLogo
    &--image
        max-width: 300px
        // max-height: 50px
        height: 50px
        padding: 10px 0

    &--domain
        display: flex
        justify-content: center
        font-weight: bold
        font-size: 20px
        line-height: 1.185
        padding: 16px 0

        &-name
            color: #333
        &-suffix
            color: white
