@require "~@binders/ui-kit/lib/vars.styl"

.image-preview
    border-radius: 12px
    border: 1px solid grey400
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    overflow: hidden