/*
body {
    background: $$bgMedium;
    /* fallback for old browsers *
    font-family: systemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
*/
    .resetPassword
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
        &-success
            font-size: 16px
        &-form
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            &-input

                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            //to override iput.styl styles
            input.resetPassword-form-input:focus
                outline: none
                border: none
                box-shadow: none
            &-button
                text-transform: uppercase;
                outline: 0;
                background: $$bgDark;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                transition: opacity 0.2s linear
                &:hover, &:active, &:focus
                     opacity: 0.7;
            &-title
                color: #000
                font-size: 1.1em
                height: auto
                padding-bottom: 16px