@import "../../vars.styl";

.publicApiSettings
    &-inputWrapper
        display: inline-block
        width: 85%
        min-width: 200px
        position: relative
    &-icon
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        &--nr2
            right: 40px

    &-inputLink
        position: absolute
        left: 10px
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        background-color: transparent
        border: none
        outline: none
        font-size: 16px
        &:hover
            text-decoration: underline
    &-input
        font-size: 20px
        padding: 12px 10px
        font-weight: normal
        border: none
        background: lightBackground
        width: 100%

