
.modalLayout
    &-content
        min-width: 400px
        max-height: min(80vh, 550px)
    &-header
        &-spacer
            width: 25px
        &-domain
            display: flex
            justify-content: center
            font-weight: bold
            font-size: 20px
            line-height: 1.185
            padding: 16px 0
            &-name
                color: #333
            &-suffix
                color: white
    &-logoutBtn
        width: 25px
        cursor: pointer

