.sso-provider-picker
    .MuiFormGroup-root
        display: flex
        flex-direction: row

.sso-provider-label
    display: flex
    column-gap: 4px
    align-items: center

    &-logo
        width: 24px
        height: 24px