createCssVariables()
    --clr-green: green600
    --clr-neutral-100: lightGreyColor
    --clr-neutral-200: grey200
    --clr-neutral-300: borderGrayColor
    --clr-neutral-500: grey500
    --clr-neutral-600: grey60
    --clr-neutral-650: grey650
    --clr-neutral-700: grey700
    --clr-primary: accentColor
    --clr-red-200: colorError
    --gap-sm: .5rem
    --gap-md: 1rem
    --gap-lg: 2rem
    --font-body: defaultFontName
    --font-weight-bold: 500
    --radius-sm: 4px

