@require "../../../../../binders-ui-kit/src/vars.styl";
@require "../../../../../binders-ui-kit/src/style/global.styl";

body
    font-family: "Rubik"

main
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    .main-container
        background-color: backgroundColor
        margin-left: 220px
        min-height: 100%

        .tabs-content
            background-color: white
