.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.cursor-pointer { cursor: pointer }

.flex { display: flex }
.flex-col { flex-direction: column }
.flex-row { flex-direction: row }
.grow { flex-grow: 1 }

.grid { display: grid }
.grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
.grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }

.justify-center { justify-content: center }
.items-center { align-items: center }

.inline-flex { display: inline-flex }

.min-h-10 { min-height: 2.5rem }
.min-h-screen { min-height: 100vh }

.gap-1 { gap: 4px }
.gap-2 { gap: 8px }

.p-2 { padding: 8px }
.pl-0 { padding-left: 0px }
.pe-2 { padding-right: 0.5rem }
.ps-2 { padding-left: 0.5rem }

.m-0 { margin: 0px }
