@require "~@binders/ui-kit/lib/vars.styl";

.error-message
    margin-top: 10px

    &-paragraph
        display: block
        margin-bottom: 10px
    &-link
        display: block
    
    &-error
        background-color: backgroundColor
        padding: 15px
        box-sizing: border-box
        font-size: 0.875rem