@require "~@binders/ui-kit/lib/vars.styl";

.composer-document-stats
    white-space: nowrap
    line-height: 1.5rem
    min-height: 1.5rem
    display: flex
    align-items: stretch
    justify-content: space-between
    flex-wrap: wrap
    >div
        line-height: 1.5rem
