.visual-preview
    position: relative
    &-overlay
        position: absolute
        inset: 0
        background-color: rgba(0, 0, 0, 0.85)
        display: flex
        justify-content: center
        align-items: center
        &-msg
            color: white
            padding: 1rem
            background-color: rgba(0, 0, 0, 0.5)
