@require "~@binders/ui-kit/lib/vars.styl"

.targetChip
    background-color: white
    line-height: 1
    border-radius: 5px
    font-size: 14px
    color: baseColor
    margin-right: 10px
    display: flex;
    align-items: center
    cursor: pointer
    line-height: 1.4
    .material-icons
        margin-right: 8px
    .closeBtn
        margin-left: 8px
        position: relative
        top: 2px
        cursor: pointer
