.lazy-fullpage
    .lazy-error
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 30ch;
        gap: 1em;
        h1
            margin: 0;
            padding: 0;
        p
            line-height: 1.25;
