@require "~@binders/ui-kit/lib/vars.styl";

.chunk-controls-diff
    display: flex
    flex-direction: row
    pointer-events: initial
    gap: 1rem
    padding: 10px 20px 10px 20px

.icon-button
    cursor: pointer
    color: grey500
    &:hover
        color: grey800
