.chunk-extras
    position: absolute
    display: flex
    padding-top: 4px
    align-items: center
    right: 0
    top: 4px
    cursor: move
    z-index: 10
    .material-icons
        font-size: 1.4rem
    .contextmenu-trigger
        cursor: pointer
        display: block
        margin-top: 4px
        margin-right: 4px
        &--disabled
            cursor: default
