
.password-reset-modal
    max-width: 800px

    .reset-password-by-password
        display: flex
        justify-content: center
        margin-bottom: 24px

        .button
            margin-left: 32px

        input
            flex: 1

    .password-reset-modal-radio
        margin-top: 24px

    .reset-password-details
        margin-left: 24px

        .reset-by-mail
            display: flex

            .button
                flex: 1