@require "~@binders/ui-kit/lib/vars.styl"

.usageReports
    &-section
        display flex
        flex-direction column
        align-items flex-start
        margin-bottom: 12px
    &-errors
        color: colorError
