.account-switcher
    .dropdown-elements
        top: 35px
        right: 0px
        bottom: unset
        left: unset
    .dropdown-field
        .dropdown-field-label-group
            gap: 8px
            .dropdown-field-label-group-text
                font-weight: 600
