@require "~@binders/ui-kit/lib/vars.styl";

.myLibrary
    padding-bottom: 40px
    &-items
        &-parentCollectionModule
            &-title
                margin:20px 0 10px 4px;
                color: darkGrayColor
                font-size: 16px
    .container-inner
        width: 75%
        @media rwd.mobile
            width: 93%
    &-actions
        display: flex
        align-items: center
        justify-content: space-between
    &-addNew
        position: relative
        margin-bottom: 20px
        @media rwd.notmobile
            margin-top: 10px
        &-contextMenu
            position: absolute
            left: 0
            top: 55px
            z-index: 3
    .breadcrumbs-set
        margin: 0
    &-newForm
        display: flex
        align-items: center
        justify-content: space-between
   .library-row
        &-uploadable-image
            .thumbnail-wrapper
                background-color: borderGrayColor
                .thumbnail
                    max-width: 100%
                    max-height: 100%

        &-document-no-items
            color: middleGreyColor

        &-content-title-info
            color: middleGreyColor
