@require "~@binders/ui-kit/lib/vars.styl";

.box-footer
    padding-top: 30px
    
    &-item
        display: block
        color: baseColor
        font-weight: 500
        text-decoration: none

        &:hover
            color: accentColor
