
.deviceLoginModal
    padding-bottom: 24px
    position: relative
    
    &-list
        overflow-y: auto
        max-height: 25vh
    &-scrollIndicator
        background-color: white
        border-top: 1px solid #E0E0E0
        color: #E0E0E0
        display: flex
        justify-content: center
        align-items: center
        height: 36px
        position: absolute
        bottom: 0
        left: 0
        width: 100%
    &-header
        width: 100%
        padding: 0 18px
        box-sizing: border-box
        padding-top: 20px
        padding-bottom: 12px
    &-search
        width: 100%
        box-sizing: border-box
