.userWidget
    z-index: 1300
    float:right
    margin-right: 10px
    font-size: 25px

    &-container
        display: flex
        align-items: center

        &-username
            padding-bottom: 3px
            text-align: end

.logoutButton
    padding-left: 0
    cursor: pointer

.usersettingsButton
    margin-left: 5px
    margin-right: 5px
    cursor: pointer

.loginButton
    cursor: pointer

    .svg-inline--fa
    .fa
        margin-right: 10px
