@require "~@binders/ui-kit/lib/vars.styl";

.notification-history
    &-modal
        &-link
            cursor: pointer
            margin-right: 10px
            text-decoration: underline
            color: #db9c09
    &-message-view
        &-row
            width: 100%
            margin-top: 20px
        &-label
            font-size: 14px
            font-weight: 500
            color: baseColor
            display: block
            margin-bottom: 3px