.timeperchunk-stat
    &-publications
        display: flex
        margin: 0 33px 0 33px
        align-items: center
        flex-wrap: wrap
        .dropdown
            margin-left: 10px
            flex-grow: 1
    &-legend
        font-size: 13px
        display: flex
        align-items: center
        flex-grow: 1
        justify-content: flex-start
        height: 40px
        &-item
            display: flex
            align-items: center
            &:not(:last-of-type)
                margin-right: 15px
                .material-icons
                    padding: 0 3px

