{
    "presets": [
        [ "@babel/preset-env", { "debug": true } ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        [ "@babel/plugin-transform-react-jsx-self" ],
        [ "@babel/plugin-transform-class-properties", { "setPublicClassFields": true } ]
    ]
}
