@require "../../vars.styl";

.scopeTitle
    font-size: 14px
    color: disabledColor
    display: flex
    align-items: center
    svg
        margin-right: 6px
        font-size: 23px
    &-post
        margin-top: 30px
        padding-top: 25px
        border-top: 1px solid middleGreyColor
    &-zero
        margin-left: 20px
        margin-top: 30px