@require "../../vars.styl";
@require "../../style/global.styl";

.rightPane
    z-index: 1000
    background-color: baseColor
    color: whiteColor
    position: fixed
    right: 0
    height: 100vh
    top: 0
    width: 40px
    padding-top: 28px
